@font-face {
  font-family: 'ProductSans';
  src: url('../fonts/Product-Sans-Regular.ttf'); /* IE9 Compat Modes */
}
body {
  font-family: 'ProductSans' !important;
}

.container-fluid {
  background: white !important;
}

.header-form{
  background: #52BECE;
  font-family: 'ProductSans' !important;
}

.fancybox-close-small:after{
  color: white !important;
}

#submit-domain{
  background-color: #DCAAC3 !important;
}

#add-filter-cta{
  background: #52BECE !important;
  font-family: 'ProductSans' !important;
}

.empty-state-content{
  font-family: 'ProductSans';
}

.stats{
  font-weight: 700;
}